

    .row {
        display: flex;
    }
    
    .column {
        flex: 32%;
    }

    .column2 {
        text-align: center;
        flex: 16%;
    }

    .column3 {
        text-align: center;
        flex: 26%;
    }

    .column4 {
        text-align: right;
        flex: 26%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .float_left {
        float: left;
    }

    .float_right {
        float: right;
    }